<%- include('../partials/header') %>
<div id="row-container">
    <div id="tab-window">
        <div>
            <img class="entity-default-icon" src="<%-entityData.defaultimage %>" />
            <h1><%-entityData.label %></h1>
            <% if (entityData.profile_pic_url) { %>
            <div class="entity-profile-img-container">
                <img class="entity-profile-img" src="<%-entityData.profile_pic_url %>" />
            </div>
            <% } %>
            <p><%-entityData.description %></p>
            <p><%-entityData.wikipedia_description %></p>
            <a href="/entities/<%-entityData.id %>">Voir le réseau</a>
            
            <br class="clear-both" /> 
            <ul>
                <li><a href="#tab-1">Relations</a></li>
                <li><a href="#tab-2">Ajouter relation</a></li>
                <li><a href="#tab-3">Editer</a></li>
                <li><a href="#tab-4">Wikipedia</a></li>
            </ul>
            <div id="tab-1">
                <h2>En relation avec</h2>
                <table>
                    <tr><td></td><td>Nom</td><td>Relation</td><td>Débute en</td><td>Se termine en</td><td>Références</td><td></td><td></td></tr>
                    <% for (var i=0; i<relationsItems.length; i++) { %>
                        <tr>
                            <td><% if (relationsItems[i].profile_pic_url) { %>
                                    <img class="entity-profile-img-small" src="<%-relationsItems[i].profile_pic_url %>" />
                                <% } %></td>
                            <td><b><a href="/entities/edit/<%-relationsItems[i].entity_id %>"><%-relationsItems[i].entity_name %></a></b></td>
                            <td><%-relationsItems[i].relation_name %></td>
                            <td><%-relationsItems[i].relation_year_begin %></td>
                            <td><%-relationsItems[i].relation_year_end %></td>
                            <td><%-relationsItems[i].detail_references %></td>
                            <td><a href="/relations/edit/<%-relationsItems[i].relation_id %>?returnId=<%-entityData.id %>">✏️</a></td>
                            <td><form action="/relations/delete/<%-relationsItems[i].relation_id %>" method="post"><input type="hidden" name="returnEntityId" value="<%-entityData.id %>" /><input type="submit" value="🗑"></form></td>
                        </tr>
                    <% } %>
                </table>
            </div>
            <div id="tab-2">
                <h2>Créer une relation</h2>
                <form action="/relations/insert" method="post">
                    <input type="hidden" name="entitySourceId" value="<%-currentItemId %>" />
                    <label>Avec</label>
                    <div id="entity-destination-search-container" >
                    </div>
                    <script type="text/javascript">
                        addSearchEntityField("entity-destination-search-container","entityDestinationId");
                    </script>
                    <br><label>Année de début</label> <input type="text" name="year_begin" type="number"/>
                    <label>Année de fin</label> <input type="text" name="year_end" type="number"/>
                    <br><label>Libellé</label> <input type="text" name="name" type="text"/>
                    <br><label>Références</label> <textarea name="detail_references" type="text"></textarea>
                    <br><input type="submit" value="Créer" />
                </form>
            </div>
            <div id="tab-3">
                <form action="/entities/update/<%-entityData.id %>" method="post">
                    <label for="name">Nom</label>
                    <input type="text" name="name" value="<%-entityData.label %>"/>
                    <br>
                    <label for="description">Description</label>
                    <input type="text" name="description" value="<%-entityData.description %>"/>
                    <br>
                    <label for="entityTypeId">Type</label>
                    <select name="entityTypeId">
                            <% for (var j=0; j<entityTypes.length; j++) { %>
                                <option value="<%-entityTypes[j].id %>" <% if (entityTypes[j].id==entityData.entity_type_id) { %> selected <% } %>><%-entityTypes[j].name %></option>
                            <% } %>
                    </select>
                    <br>
                    <label for="profilePicUrl">Image</label>
                    <input type="text" name="profilePicUrl" value="<%-entityData.profile_pic_url %>"/>
                    <br><label for="wikipedia_url">Url Wikipédia (si existe)</label>
                    <input type="text" name="wikipedia_url"  value="<%-entityData.wikipedia_url %>"/>
                    <br><input type="submit" value="Enregistrer" />
                </form>
            </div>
            <div id="tab-4">
                <h2>Données Wikipédia</h2>
                <br /><a href='/wikipedia/createEntitiesFromWPLinks/<%-entityData.id %>'>Créer entités liées</a>
                <br /><a href='/wikipedia/createRelationsFromWPLinks/<%-entityData.id %>'>Créer relations liées</a>
            </div>
        </div>
        <br class="clear-both" />        
    </div>
</div>
<%- include('../partials/footer') %>
