<% include ../partials/header %>
<div id="row-container">
    <div id="tab-window">
        <h1>Entités</h1>
        <ul>
            <li><a href="#tab-1">Liste</a></li>
            <li><a href="#tab-2">Créer</a></li>
        </ul>
        <div id="tab-1">
            <ul class="inline-list center-text">
                <% for (var i=0; i<entitiesItems.length; i++) { %>
                    <li style="background:url(<%-entitiesItems[i].profile_pic_url %>) center no-repeat;background-size:cover;">
                        <a href='/entities/edit/<%-entitiesItems[i].id %>'><%-entitiesItems[i].name %></a>
                        <%-entitiesItems[i].description %>
                    </li>
                <% } %>
            </ul>
        </div>
        <div id="tab-2">
            <form action="/entities/insert" method="post">
                <label>Nom</label> <input type="text" name="name" />
                <br><label>Type</label> <select name="entityTypeId">
                        <% for (var i=0; i<entityTypes.length; i++) { %>
                            <option value="<%-entityTypes[i].id %>"><%-entityTypes[i].name %></option>
                        <% } %>
                    </select>
                <br><label>Image</label> <input type="text" name="profilePicUrl" value=""/>
                <br><input type="submit" value="Créer" />
            </form>
        </div>
    </div>
</div>
<br class="clear-both" />
<% include ../partials/footer %>