<h1>Relations</h1>
<form action="/relations/insertRelation" method="post">
    <select name="entitySourceId">
        <option value="">-Choisir Source-</option>
        <% for (var i=0; i<entityItems.length; i++) { %>
            <option value="<%-entityItems[i].id %>"><%-entityItems[i].name %></option>
        <% } %>
    </select>
    <select name="entityDestinationId">
        <option value="">-Choisir Destination-</option>
        <% for (var i=0; i<entityItems.length; i++) { %>
            <option value="<%-entityItems[i].id %>"><%-entityItems[i].name %></option>
        <% } %>
</select>        
<input type="submit" value="Créer" />
</form>
<ul>
<% for (var i=0; i<relationsItems.length; i++) { %>
    <li>
        <%-relationsItems[i].source_name %> | <%-relationsItems[i].destination_name %> | <a href='#' onclick='showEditBox(<%-relationsItems[i].id %>);'>éditer</a>
        <div id="edit-box-<%-relationsItems[i].id %>" class="edit-box">
                <form action="/relations/updateRelation/<%-relationsItems[i].id %>" method="post">
                    <select name="entitySourceId">
                            <% for (var j=0; j<entityItems.length; j++) { %>
                                <option value="<%-entityItems[j].id %>" <% if (entityItems[j].id==relationsItems[i].entity_source_id) { %> selected <% } %>><%-entityItems[j].name %></option>
                            <% } %>
                    </select>
                    <select name="entityDestinationId">
                            <% for (var j=0; j<entityItems.length; j++) { %>
                                <option value="<%-entityItems[j].id %>" <% if (entityItems[j].id==relationsItems[i].entity_destination_id) { %> selected <% } %>><%-entityItems[j].name %></option>
                            <% } %>
                    </select>
                    <input type="submit" value="Enregistrer" />
                </form>
        </div>
    </li>
<% } %>
</ul>
