<% include ../partials/header %>
<div id="row-container">
    <div id="main-window">
        <h1>Relations</h1>
        <form action="/relations/insert" method="post">
            <select name="entitySourceId">
                <option value="">-Choisir Source-</option>
                <% for (var i=0; i<entityItems.length; i++) { %>
                    <option value="<%-entityItems[i].id %>"><%-entityItems[i].name %></option>
                <% } %>
            </select>
            <select name="entityDestinationId">
                <option value="">-Choisir Destination-</option>
                <% for (var i=0; i<entityItems.length; i++) { %>
                    <option value="<%-entityItems[i].id %>"><%-entityItems[i].name %></option>
                <% } %>
        </select>        
        <input type="submit" value="Créer" />
        </form>
        <table>
        <% for (var i=0; i<relationsItems.length; i++) { %>
            <tr>
                <td><%-relationsItems[i].source_name %></td><td><%-relationsItems[i].destination_name %></td>
            </tr>
        <% } %>
        </table>
    </div>
</div>
<br class="clear-both" />

<% include ../partials/footer %>