<%- include('../partials/header') %>
  <div id="row-container">
    <div id="tab-window">
      <h1>Editer la Relation entre <%-relationItem.entity_source_name %> et <%-relationItem.entity_destination_name %></h1>
      <form action="/relations/update/<%-relationItem.id %>" method="post">
        <input type="hidden" name="returnEntityId" value="<%-returnId %>" />
        <input type="hidden" name="entitySourceId" value="<%-relationItem.entity_source_id %>" />
        <input type="hidden" name="entityDestinationId" value="<%-relationItem.entity_destination_id %>" />
        Id <%-relationItem.id %>
        <br><label>Année de début</label> <input name="year_begin" type="number" value="<%-relationItem.year_begin %>"/>
        <br><label>Année de fin</label> <input name="year_end" type="number" value="<%-relationItem.year_end %>"/>
        <br><label>Libellé</label> <input name="name" type="text" value="<%-relationItem.name %>"/>
        <br><label>Références</label> <textarea name="detail_references" ><%-relationItem.detail_references %></textarea>
        <br /><input type="submit" value="Enregistrer" />
      </form>
    </div>
</div>
<br class="clear-both" />

<%- include('../partials/footer') %>